body{
  font-size: 16px;
  color: #fff;
  background-color: #873600 ;
  font-family: 'Roboto', sans-serif;
}

/*HEADER*/

#header-nav{
  background-color: #F39C12;
  border-radius: 0;
  border: 0;
}

.container h1{
  font-family: 'Oswald', sans-serif;
  color:#922B21 ;
  font-size: 2.3em;
  font-weight: bold;
  text-shadow: 1px 1px  1px #922B21;
  margin-bottom: 26px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #873600;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -63px;
}

/* END HEADER */

/*HOME PAGE*/


.subtitle{
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  padding-bottom: 15px;
}

article{
  margin-left: 15px;
  margin-right: 15px;
  background-color: #2626265f;
}

article h3{
  padding-top: 12px;
  text-align: center;
  padding-bottom: 15px;
}

article p{
  margin-left: 20px;
  margin-right: 20px;
}

/*END HOME PAGE*/


/********** Extra small devices only **********/

@media (max-width:767px){


.navbar-header h1{
  margin-left: 15px;
}


#collapsable-nav{
  font-size: 1.6em;
}

#collapsable-nav a{
  color: #873600;
  text-align: center;
  font-weight: bold;
}

#collapsable-nav a:hover{
background-color: #fff;
}

#nav-list{
  margin-top:0px;
  margin-bottom:0px;

}

article{
  margin-left: 70px;
  margin-right: 70px;
}


}